<div style="margin-top: 10px;">
  <%= link_to 'Inicio', root_path, class: 'btn btn-primary', style: 'margin-right: 10px;' %>
  <%= link_to 'Voltar', request.referer || root_path, class: 'btn btn-secondary' %>
</div>
