
<h1>Escolha a Data</h1>
<% @dates.each do |date| %>
  <%= link_to I18n.l(date.to_date, locale: :'pt-BR'), exam_schedule_path(stage: @stage, type: @type, level: @level, date: date) %><br>
<% end %>

<%= render 'shared/navigation_links' %>
