<tbody>
  <% @grades.each_with_index do |grade, index| %>
    <tr>
      <td><%= grade %></td>
      <td>
        <%= link_to I18n.l(@dates[index].to_date, locale: :'pt-BR'), 
                    exam_schedule_path(stage: @stage, type: @type, level: @level, date: @dates[index]) %>
      </td>
      <td>
        <% if @subjects&.dig(index) %>
          <% @subjects[index].each do |subject| %>
            <%= subject %><br>
          <% end %>
        <% else %>
          Sem disciplinas
        <% end %>
      </td>
    </tr>
  <% end %>
<%= link_to 'Registrar Datas e Disciplinas', new_exam_date_path, class: 'btn btn-primary' %>

</tbody>
